<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid 19 Analysis</title>
    <h1>Covid 19 Analysis</h1>
  </head>
  <body>
      <table width=80% border="1px solid" >
        <th>Slno</th>
        <th>State</th>
        <th>Active</th>
        <th>Cured</th>
        <th>Positive</th>
        <th>Death</th>
        <tbody>
          {% for i in df %}
          <tr>
            {% for j in i %}
            <td>
              {{j}}
            </td>
          {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
</html>
